/* This is the CSS for main.html */
/* hi this is char's part */

body {
    background-color: beige;
    padding: 1vw;

}

.table {
    width: 90px;
    height: 90px;
    border: 10px solid transparent;

    position: absolute;

    -webkit-border-image: url(http://images.clipartpanda.com/wood-picture-frame-clip-art-wood_frame-1056x1120.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(http://images.clipartpanda.com/wood-picture-frame-clip-art-wood_frame-1056x1120.png) 30 round; /* Opera 11-12.1 */
    border-image: url(http://images.clipartpanda.com/wood-picture-frame-clip-art-wood_frame-1056x1120.png) 30 round;
    font-family: 'Cutive', serif;
    font-size: 12px;
}

#canvas {
    height: 75vh;
    background: radial-gradient(#888 1px, transparent 1px), beige;
    background-size: 30px 30px;
    background-color: white
}

.container-fluid {
    padding: 10px;
}