/* This is the CSS for main.html */

body {
    background-color: beige;
    padding: 1vw;
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -3px;
  *overflow: hidden;
}

.table {
    width: 90px;
    height: 90px;
    border: 6px solid;
    -webkit-border-image: url(http://images.clipartpanda.com/wood-picture-frame-clip-art-wood_frame-1056x1120.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(http://images.clipartpanda.com/wood-picture-frame-clip-art-wood_frame-1056x1120.png) 30 round; /* Opera 11-12.1 */
    border-image: url(http://images.clipartpanda.com/wood-picture-frame-clip-art-wood_frame-1056x1120.png) 30 round;
    position: absolute;
    font-family: 'Cutive', serif;
    font-size: 12px;

    background-image: url('http://i68.tinypic.com/2cr7g1x.png');

    cursor: pointer;
    
    position: relative;

}

#canvas {
    height: 75vh;
    background: radial-gradient(#888 1px, transparent 1px), #d4d8dc;
    background-size: 30px 30px;
    background-color: #d4d8dc;
}

.container-fluid {
    padding: 10px;
}

.bottom-buttons {
    text-align: center;
    background-color: black;
}

.table-button {
    margin-right: 10px;

    -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
    -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
    box-shadow:inset 0px 34px 0px -15px #b54b3a;
    background-color:#a73f2d;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border:1px solid #241d13;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #7a2a1d;
}
#add-table:hover {
    background-color:#b34332;
}
#add-table:active {
    position:relative;
    top:1px;
}

.table-name {
    /*color: #633e19;*/
    color: black;
    text-align: center;
    word-wrap: break-word;
}

.table-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
}

.table-info input {
    background-color: black;
    border: 0;

    height: 16pt;
}

.table-name, .table-points {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.name-textbox {
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;        
    text-align: center;

    color: white;

    font-size: 10pt;

}

.table-points {
    font-size: 25pt;
    text-align: center;

    color: black;
}

.edit-toggle-label{

}

.table-handle {
    cursor: move;

    width: 1px;
    height: 1px;
    border-right: 30px solid transparent;
    border-top: 30px solid black;
}

.table-delete {
    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;

    width: 1px;
    height: 1px;
    border-left: 30px solid transparent;
    border-top: 30px solid red;

    z-index: 100;

}

/* Classes used by Javascript */

.black-border {
    border: 0
}

/* ID's */

#edit-toggle:hover {
    color: white;
    background-color:#b34332;

}