/*
-------------------------------------------
THIS IS THE CSS FOR THE START ANIMATION. 
-------------------------------------------
*/

/*
--------------------------------------------------------------------
Styles the h1 tag to be really big according to the user's screen
and sets font family to "Cutive"
--------------------------------------------------------------------
*/

h1 {
	font-size: 7.5vw;
	font-family: 'Cutive', serif;
}

/*
--------------------------------------------------------------------
This is the div tag that conains all the element of the start
animation. Will make this fade on click on start / on any
key press
--------------------------------------------------------------------
*/

.start {
	background-color: #FFF0A5;

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  letter-spacing: 1vw;
}

/*
--------------------------------------------------------------------
Some arbitrary styling of the start page.
--------------------------------------------------------------------
*/

.start-button {
	color: white;
	font-size: 36pt;
	
	background-color: #8E2800;

	letter-spacing: 5vw;
}

.start-button:hover{
	color: white;
	box-shadow: inset 0 0 1em #B64926;
}

#eight {
	color: red;
}
