<!DOCTYPE html>
<html ng-app="ClassroomModule">
<head>
    <title>Particip8.io | main</title>
    <!--#include virtual="vendor/headerIncludes.html" -->

    <!-- LOCAL CSS -->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
    
<body class="animated fadeIn">

    <div ng-controller="ClassroomController">
        <div id="canvas" gridster="options">
            <div gridster-item="item" 
                 ng-repeat="table in tables"
                 ng-animate="'animation'"
                 class="table"
                 ng-id="table-{{tableCount}}">

                <table></table>

            </div>
            
        </div>
        
        <div class="bottom-buttons">            
            <button id="add-table" class="table-button" ng-click="addTable()">
                Add tables
            </button>

            <!-- Checks if you can edit the tables -->
            <label class="btn table-button" id="edit-toggle">
                Edit Mode
                <input 
                id="edit-toggle" 
                type="checkbox" 
                name="edit-toggle" 
                ng-model="editMode"
                ng-click="toggleEditMode()"/>

            </label>
        </div> 
    </div>

    <!--#include virtual="vendor/footerIncludes.html" -->
    <!-- Our MAIN Javascript File -->
    <script type="text/javascript" src="js/main.js"></script>

</body>

</html>
