<div>
    <div 
    gridster-item="item" 
    ng-repeat="table in tables"
    class="table">
        


        <!-- Textbox -->
        <div ng-if="editMode == true" class="name-textbox">
          <input type="text" name="table-name" ng-model="table.name">
        </div>
        
        <!-- Table name text -->
        <div ng-if="editMode == false" class="table-name">
          {{table.name}}
        </div>
        

        <span class="table-points">
          {{table.points}}
        </span>

    </div>
</div>

