<div>
    <div 
    gridster-item="item" 
    ng-repeat="table in tables"
    class="table">
        


        <!-- Textbox -->
        <div ng-if="editMode == true">
          <input class="name-textbox" type="text" name="table-name" ng-model="table.name">
        </div>
        
        <!-- Table name text -->
        <div ng-if="editMode == false" class="table-name">
          {{table.name}}
        </div>
        

        <div class="table-points" ng-if="editMode == false">
          {{table.points}}
        </div>

    </div>
</div>

